
@mixin display-look(
	$display: null,
	$margin: null,
	$m-width: null) {

	display: $display;
	margin:$margin;
	max-width: $m-width;
}

@mixin mq($break){
	$value:$break;
	@if $value == $break {
		@media (min-width: 768px) {
				@content
		}
	}

}

// @mixin hov-lighten($btn-attr){
// 		$value: map-get($btn-class, $btn-attr);
// 		$default:map-get($btn-class, $color-default-light);

// 	@if $value == $default {
// 		background-color: red;
// 	}

// 	@else {
// 		background-color: blue;
// 	}
// }