.container {
  padding: 0 10px;

  @include mq($break){
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.centered {
 @include mq($break) {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include mq($break) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq($break) {
   display: flex;
   justify-content: center;
   margin-top: 0;
   align-items: center;
 }
 &+[class^=col] {
   @include mq($break) {
    margin-left: 10px;
  }
}
}

///========================
// loop for grid 
// ========================

@each $class, $color in $grid-map {
  #{$class} {
    background-color: $color;
  }
}


.card {
  flex-basis: 100%;
}