
.nav {
  @include mq($break) {
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
 }
 padding-left: 0;
 flex-basis: 100%;
 display: flex;
 flex-direction: column;
 &-link {
   @include mq($break) {
     flex-basis: 100px;
   }
   text-align: center;
   border-radius: 5px;
   padding: 10px 0;
   display: block;
   width: 100%;
   text-decoration: none;
   transition: 
   background-color .5s ease-in-out, 
   color .35s ease-in-out;
 }
 &-link:hover {
  color: $white;
  background-color: $color-primary-light;
}
}
